<a href="https://colab.research.google.com/github/Aaronjomy/Aaron-jomy/blob/main/Untitled11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def fun_name():
  print("Fifa World Cup")
fun_name()

Fifa World Cup

In [ ]:
def  namies():
  x=input("enter first name:")
  y=input("enter middle name:")
  z=input("enter last name:")
  print(x,y,z)

In [ ]:
namies()

enter first name:Aaron
enter middle name:Blehh
enter last name:JOmy Jomy
Aaron Blehh JOmy Jomy

In [ ]:
def  namess():
  x=input("enter first name:")
  y=input("enter middle name:")
  z=input("enter last name:")
  print(z,x,y)

In [ ]:
def  namies(x,y,z):
  print(x,y,z)

x=input("enter first name:")
y=input("enter middle name:")
z=input("enter last name:")

namies(x,y,z)

enter first name:home
enter middle name:car
enter last name:thro
home car thro

In [ ]:
def  namess(x,y,z):
  print(z,x,y)

x=input("enter first name:")
y=input("enter middle name:")
z=input("enter last name:")

namess(x,y,z)

enter first name:jose
enter middle name:rhvn
enter last name:frghh
frghh jose rhvn