<a href="https://colab.research.google.com/github/Aaronjomy/Aaron-jomy/blob/main/Untitled7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
source=input("enter the passengers travel source")
destination=input("enter the passenger destination")
number=int(input("enter the passenger number"))

enter the passengers travel sourcekochi
enter the passenger destinationpala
enter the passenger number66

In [5]:
x=int(input("enter the passenger total ticket fare"))
y=int(input("number of passengers"))
totalfare=print(x/y)

enter the passenger total ticket fare85
number of passengers54
1.5740740740740742

In [6]:
x=(input("passengers name"))
y=int(input("ticket fare"))
print(x,y)

passengers nameaaron
ticket fare45
aaron 45

In [7]:
x=int(input("total ticket fare"))
if x>10000 :
  print("eligible for discount")
else:
  print("not eligible for discount")

total ticket fare50
not eligible for discount

In [9]:
x=int(input("total ticket fare"))
if x>15000 :
  print("20% discount")
else:
  print("10% discount")

total ticket fare55
10% discount

In [10]:
x=int(input("ticket fare"))
if x>15000:
  i=x*20/100
  print(i,"discount")
if x>=10000:
   z=x*20/100
   print(z,"disount")
if x<10000:
   y=x*5/100
   print(y,"discount")

ticket fare77
3.85 discount

In [11]:
x=int(input("Age of Passenger "))
if x>17:
  print("Adult")
elif x>12 and x<17:
  print("Teenager")
elif x>5 and x<11:
  print("Kid")
else:
  print("Infant")

Age of Passenger 15
Teenager

In [12]:
x=int(input("Enter A Number "))
if x>0:
  print("Positive")
elif x<0:
  print("Negative")
else:
  print("Zero")

Enter A Number 55
Positive

In [13]:
x=input("Passengers Initial ")
if x=="A":
  print("Vowel")
elif x=="E":
  print("Vowel")
elif x=="I":
  print("Vowel")
elif x=="O":
  print("Vowel")
elif x=="U":
  print("Vowel")
else:
  print("Not Vowel")

Passengers Initial A
Vowel

In [14]:
x=input("passenger name ")
for a in x:
  print(a)

passenger name aaron
a
a
r
o
n

In [15]:
k=0
for a in range(1,10):
  k=k+a
  print(a,k)

1 1
2 3
3 6
4 10
5 15
6 21
7 28
8 36
9 45

In [17]:
x=int(input("Enter Starting Value "))
y=int(input("Enter Ending Value "))
z=range(x,y) 
for a in z:
  if a%2!=0 :
    print(a)

Enter Starting Value 1
Enter Ending Value 10
1
3
5
7
9