<a href="https://colab.research.google.com/github/Aaronjomy/Aaron-jomy/blob/main/Untitled6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
name=input("Enter the name")
print (name)

Enter the nameAaron
Aaron

In [8]:
x=int(input("enter the first mark"))
y=int(input("enter the second mark"))
if x>y:
  print("x is greater")
else:
  print("y is greater")

enter the first mark20
enter the second mark50
y is greater

In [12]:
n1=int(input("enter the first number"))
n2=int(input("enter the second number"))
n3=int(input("enter the third number"))
if n1>n2 and n1>n3:
  print(n1,"is greater")
if n2>n3 and n2>n3:
  print(n2,"is largest")
else:5
  print(n3,"is largest")

enter the first number20
enter the second number30
enter the third number50
50 is largest

In [17]:
num1=int(input())
if num1%2 == 0:
  print("Its even")
else:
  print("odd")

2
Its even

In [18]:
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10